@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  margin: 0;
}
.App {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   word-spacing: .2em;
   font-weight: 300;
}
.App .layout {
   height: 100vh;
   /* opacity: 0; */
   margin: 0;
   padding: 180px 0 0 0;
}
.App .layout.view {
   opacity: 1;
}
/* ==============    SHARED ============== */
.container {
   min-height: 100%;
   width: 80vw;
   margin: 0 auto;
}
/* ============== LANDING ================ */
.landing {
   position: fixed;
   top: 0;
   height: 100vh;
   width: 100vw;
   margin: 0;
   background-color: black ;
   background: url(./assets/backgrounds/1a.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   z-index: 99;
}
.hide.landing {
   display: none;
}
.album-container {
   display: flex;
   position: absolute;
   top: 28%;
   left: 20%;
   width: 48em;
   height: min-content;
   margin: 0 auto;
}
.album-container img {
   height: 20em;
   margin: 0 1.2em 0 0;
   box-shadow: .1em .4em 1em rgb(44, 44, 44);
}
.album-container p {
   margin: 0;
   color: white;
   font-size: 3em;
   line-height: .8em;
}
.landing button {
   width: 7em;
   height: 2em;
   margin: .3em 0 0 0;
   font-size: 2em;
   color: rgb(48, 47, 47);
   text-transform: uppercase;
   box-shadow: none;
   background-color: rgb(241, 192, 56);
   border: none;
   border-radius: .3em;
}
.landing button a {
   text-decoration: none;
   color: rgb(48, 47, 47);
}
 #enter {
text-decoration: none;
font-size: 3em;
text-transform: uppercase;
color: rgb(255, 255, 255);
cursor: pointer;
margin: 0 0 0 0;
}

/* ============== HEADER ================ */
.header {
   font-weight: 400;
   position: fixed;
   top: 0;
   height: 115px;
   width: 100vw;
   background: url('./assets/backgrounds/header1.jpg') no-repeat;
   background-size: cover;
   background-position: center top;
   box-shadow: 0 .2px 3px rgb(59, 59, 59);
   z-index: 99;
}
#logo {
   position: absolute;
   top: 0px;
   left: 80px;
   width: 120px;
   height: 120px;
   text-indent: -9999px;
   /* background: url(./assets/logos/logo.jpg); */
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 50%;
}
nav {
   position: absolute;
   top: 94px;
   left: 10px;
   width: 42%;
   height: min-content;
   background:none;
   z-index: 99;
}
.menu {
   display: flex;
   margin: 0;
}
.menu li {
   text-decoration: none;
   list-style-type: none;
   color: rgb(255, 255, 255);
}
.menu a {
   text-decoration: none;
   color: white;
   padding: 0 .2em;
   opacity: .6;
}
.menu a:hover {
   background-color: rgb(221, 200, 107);
}
/* ===== drop-down option ==== */
/* .dropdown-media {
   padding: 0;
   height: 2.6em;
   overflow: hidden;
   z-index: 99 !important;
}
.dropdown-media.show {
   height: min-content;
   background-color: rgb(112, 112, 112);
}
.dropdown-media li {
   font-size: 1em;
   padding-left: .5em;
}
#media {
   font-size: 1.8em !important;
   padding-left: .2em !important;
   color: white !important;
   overflow: visible !important;
} */

/* ============== HOME ================ */

.home.container {
   display: flex;
   flex-flow: column wrap;
   align-content: space-between;
   /* The container needs a fixed height, and it
    * needs to be taller than your tallest column. */
   height: 1400px;
   /* font-family: 'Montserrat', sans-serif; */
   /* word-spacing: .2em; */

 }
 .video {
    cursor: pointer;
 }
 .card {
   position: relative;
   width: 28%;
   margin-bottom: 2%;
   padding: 1%;
 }
 .card:hover {
   box-shadow: 1px 3px 8px #e9e9e9;
   background-color: rgba(226, 226, 226, 0.246);
  }
 .card img {
    width: 100%;
    opacity: .8;
 }
 .card p {
   /* color: rgb(83, 83, 83); */
   font-size: .8em;
   /* font-weight: 100; */


 }
 .card h2 {
   font-size: 1.2em;
 }
 .card h4 {
   font-size: .9em;
   color: grey;

 }
 /* ============================================App.js */
 .home-card-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .6;
    text-align: right;
 }

 /* Re-order items into 3 rows */
 .card:nth-child(3n+1) { order: 1; }
 .card:nth-child(3n+2) { order: 2; }
 .card:nth-child(3n)   { order: 3; }

 /* Force new columns */
 .home.container::before,
 .home.container::after {
   content: "";
   flex-basis: 100%;
   width: 0;
   order: 2;
 }

/* ============== BIO ================ */
.bio.container {
   /* margin: 0 auto; */

}
.bio p {

}
.bio h2 {

}
/* ============== Photos ================ */

.photos.container {
}
.image-container {
   height: 9em;
   margin: .1em;
   overflow: hidden;
}
.image-container img {
   width: 19vw;
   overflow: hidden;
   opacity: .7;
}
.image-container img:hover {
   opacity: 1;
   transition: .6s;
   cursor: pointer;
   }

.image-gallery {
   display: flex;
   flex-wrap: wrap;
   justify-items: space-between;
}
.image-gallery::after {
   content: "";
 }
/* ======= PhotoDetail ======= */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.photo-detail-container {
   animation: .7s ease-out fadeIn;
}
.photo-detail-container {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 999;
   background-color:rgba(0, 0, 0, 0.931);
}
.photo-detail {
   height: min-content;
   width: 75vw;
   display: flex;
   margin: 0 auto;
}
.photo-detail img {
   animation: 2s ease-out fadeIn;
}
.photo-detail-img-container {
   height: min-content;
   width: min-content;
   margin: 2em auto;
}
.photo-detail-img-container img {
   height: 30em;
   margin: 0 auto;
}

.arrow {
   display: inline-block;
   width: 1em;
   font-size: 3em;
   font-weight: 100;
   color: white;
   margin: 0;
   padding-top: 25%;
   opacity: .3;
 }
.arrow.next {
   text-align: right;
}
.fa.fa-angle-right.fa-1x {
   cursor: pointer;
}
.arrow.back {
   text-align: left;
}
.fa.fa-angle-left.fa-1x {
   cursor: pointer;
}
.close {
   height: 1em;
   position: absolute;
   top: 0;
   right: 2vw;
   font-size: 2em;
   color: white;
   opacity: .6;
   cursor: pointer;
   z-index: 999;
}

/* ============== Videos ================ */
.videos.container {
}
.video-thumbnail-container {
   position: relative;
   margin: .1em;
   opacity: .8;
}
.video-thumbnail-container img {
   width: 26vw;
   cursor: pointer;
}
.video-thumbnail-container:hover {
   opacity: 1;
}
.video-thumbnail-container p {
   height: 2em;
   margin: 0 auto;
   padding: 5px;
   top: 72%;
   right: 1%;
   border-left-width: 0;
   font-family: Helvetica, sans-serif;
   font-size: 1em;
   font-weight: 200;
   color: grey;
   background: black;
}
.video-thumb-gallery {
   display: flex;
   flex-wrap: wrap;
}
/* ======= VideoDetail ========= */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.video-detail-container {
   animation: .7s ease-out fadeIn;
}
.video-detail-container {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 99;
   background-color:rgba(10, 10, 10, 0.931);
}
.react-player-video {
   height: min-content;
   width: min-content;
   margin: 1em auto;
}
.close-react-player-video {
   height: 1em;
   position: absolute;
   top: 20px;
   right: 7vw;
   font-size: 32px;
   color: white;
   opacity: .9;
   cursor: pointer;
   z-index: 999;
}
.close-react-player-video p {
   margin: 0;
   font-family: 'Roboto';
   font-weight: 100;
   font-size: 15px;
   text-transform: capitalize;
}

/* ============== SHOWS ================ */
.shows.container {
}
/* ============== DISCOGRAPHY ================ */
.discography.container {
   display: flex;
   align-content: space-between;
}
/* ====== albums =+=== */
.albums-container {
   display: flex;
   flex-wrap: wrap;
   padding: 0 0 0 1em;
   width: 30%;
   height: min-content;
   margin: 0;
}
.albums img {
   height: 5em;
   width: 5em;
   margin: 0 .2em;
   border: .5px solid grey;
   cursor: pointer;
   opacity: .8;
}
.albums img:hover {
   opacity: 1;
}
.album-select {
   width: 70%;
   height: 100%;
}
/* ====== album detail ===== */
.album-detail {
   width: 100%;
   font-family: Helvetica;
   font-size: 1em;
   font-weight: 100;
   color: rgb(77, 77, 77);
}
.album-detail img {
   height: 21em;
   width: 21em;
   margin: 0 2em 0 0;
   border: .5px solid gray;
}
.album-info {
   display: flex;
   justify-content: space-between;
}
.album-info p{
   font-size: .8em;
   margin: 0;
   padding: .2em;
}
.album-info h2 {
   font-size: 2.2em;
   font-weight: 300;
   margin: 0;
}
.info-box {
   width: 21em;
   height: 22em;
}
.album-info .album-title {

}
.album-info .album-description {

}
/* ============== PRESS ================ */
.press.container {
   font-family: 'Montserrat', sans-serif;
   display: flex;
}
.press-list-container {
   width: 20vw;
   text-align: right;
   /* background-color: rgba(0, 0, 255, 0.438); */
}
.press-list li {
   cursor: pointer;
   list-style: none;

}
.press-list li:hover {
   color: red;
}


.press-detail-container {
   width: 60vw;
   margin-right: 0;
   border: 0;
   padding: 0;
}
.press-detail {
}
.press-detail h2 {
}
.press-detail h3 {
}
.press-detail p {
   font-weight: 100;
   word-spacing: .1em;
}
.press-detail a {
}

.quotes-container h5 {
   margin-bottom: 0;
   text-align: right;
}
.quotes-container h4 {
   margin-top: 0;
   text-align: right;
}
/* ============== STORE ================ */
.store.container {
   
}
/* ==== products ===== */
.product {
   height: min-content;
   width: 80vw;
   margin: 0 auto;
}
/* ============== CONTACT ================ */
.contact.container {

   /* height: 100%; */
}
/* ============== FOOTER ================ */
.footer {
   margin: 4em 0 0 0;
   height: 170px;
   background: url('./assets/backgrounds/5a.jpg') no-repeat;
   background-size: 100%;
   background-position: center bottom;
}
/* ============== AUDIO ================ */
