@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@900&display=swap');
body {
  margin: 0;
  /* background-color: black; */
}
.App {
   margin: 0;
}
.App .layout {
   height: 100vh;
   opacity: 0;
   margin: 0;
}
.App .layout.view {
   opacity: 1;
   
}
/* ============== LANDING ================ */
.landing {
   /* padding-top: 20vh; */
   position: fixed;
   top: 0;
   height: 100vh;
   width: 100vw;
   margin: 0;
   background-color: black ;
   background: url(./assets/backgrounds/1a.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   z-index: 99;
}
.hide.landing {
   display: none;
}
.album-container {
   display: flex;
   position: absolute;
   top: 28%;
   left: 20%;
   width: 48em;
   height: min-content;
   margin: 0 auto;
   /* background-color: red; */
}
.album-container img {
   height: 20em;
   margin: 0 1.2em 0 0;
   box-shadow: .1em .4em 1em rgb(44, 44, 44);
}
.album-container p {
   margin: 0;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 3em;
   line-height: .8em;
}
.landing button {
   width: 7em;
   height: 2em;
   margin: .3em 0 0 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2em;
   color: rgb(48, 47, 47);
   text-transform: uppercase;
   box-shadow: none;
   background-color: rgb(241, 192, 56);
   border: none;
   border-radius: .3em;
}
.landing button a {
   text-decoration: none;
   color: rgb(48, 47, 47);
}
 #enter {
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 3em;
text-transform: uppercase;
color: rgb(255, 255, 255);
cursor: pointer;
margin: 0 0 0 0;
}

/* ============== HEADER ================ */
.header-container {
   height: 300px;
   background: url('./assets/backgrounds/3.jpg') no-repeat;
   background-size: cover;
   background-position: center top;
   /* background-color: rgba(119, 4, 4, 0.288); */
}
header {
   /* height: 2em; */
   padding: 240px 0 0 0;
}
nav {
   width: min-content;
   height: min-content;
   margin: 0 auto;
   /* padding-top: 32vh; */
   display: flex;
}
nav a {
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.menu {
   display: flex;
   padding-left: 0;
}
.menu li {
   text-decoration: none;
   list-style-type: none;
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;   
   color: rgb(255, 255, 255);
   font-size: 1.8em;
   padding: .2em;
   cursor: pointer;
   opacity: .7;
}
.menu li:hover {
   opacity: 1;
}
.dropdown-media {
   padding: 0;
   height: 2.6em;
   overflow: hidden;
   z-index: 9 !important;
}
.show {
   height: min-content;
   background-color: rgb(170, 156, 118);
   
}
.dropdown-media li {
   font-size: 1em;
   padding-left: .5em;
   /* color: black; */
}
#media {
   font-size: 1.8em !important;
   padding-left: .2em !important;
   color: white !important;
   overflow: visible !important;
}
/* ============== HOME ================ */
.home {
   height: 100%;
   background-color: white;
}
/* ============== BIO ================ */
.bio {
   height: 100%;
}
/* ============== Photos ================ */
.photos {
   height: 100%;
}
/* ============== Videos ================ */
.videos {
   height: 100%;
}
/* ============== SHOWS ================ */
.shows {
   height: 100%;
}
/* ============== DISCOGRAPHY ================ */
.discography {
   height: min-content;
   display: flex;
}
/* ============== albums ============= */
.albums-container {
   display: flex;
   flex-wrap: wrap;
   width: 40%;
   height: min-content;
   margin: 2em 0 0 0;
}
.albums img {
   height: 6em;
   margin: 1em;
   border: .5px solid grey;
}
.album-select {
   width: 50%;
   height: 100%;
   padding: 3em 0 0 3em;
}
/* ============= album detail ======== */
.album-detail {
   width: min-content;
   display: flex;
}
.album-detail img {
   height: 15em;
   width: 15em;
   margin: 0 2em 0 0;
   border: .5px solid gray;
}
.album-info {
   width: 22vw;
   font-family: Helvetica, sans-serif;
   color: grey;
   font-weight: 100;
   font-size: .8em;
}
.album-info .album-title {
   font-size: 1.6em;
   margin: 0 0 1em 0;
}
.album-info .track-list {
   margin: 0;
   padding: 0;
   line-height: 1.8em;
   /* background-color: red; */
}
.album-info .personnel {
   margin: 2em 0 0 0;
   padding: 0;
   line-height: .3em;
   /* background-color: red; */
}
.credits p {
   margin: .2em 0 0 0;
   /* line-height: 1em; */
}
.credits.one p {
   /* margin: 1em 0 0 0; */
}

/* ============== PRESS ================ */
.press {
   height: 100%;
}
/* ============== STORE ================ */
.store {
   height: 100%;
}
/* ============== CONTACT ================ */
.contact {
   height: 100%;
}
/* ============== FOOTER ================ */
.footer-container {
   height: 10em;
   background-color: grey;
}