@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  margin: 0;
  background-color: rgb(233, 233, 233);
}
.App {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 1em;
   word-spacing: .2em;
   font-weight: 300;
   /* color: grey; */
}
.App .layout {
   height: 100vh;
   margin: 0;
   padding: 113px 0 0 0;
}
.App .layout.view {
   opacity: 1;
}
/* ==============  SHARED ============== */
.container {
   min-height: 100%;
   width: 80vw;
   margin: 0 auto;
}
.container a  {
   text-decoration: none;
   color: grey;
   font-weight: 600;
   
}
.container a:hover  {
   text-decoration: none;
   color: red;
   

}

/* ============== HEADER ================ */
.header {
   font-weight: 400;
   position: fixed;
   top: 0;
   height: 113px;
   width: 100vw;
   background-image: url('./assets/backgrounds/header1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   /* background-position: 0px -4px; */
   box-shadow: 0 .2px 3px rgb(59, 59, 59);
   z-index: 99;
}
#logo {
   position: absolute;
   margin: 0;
   top: 0px;
   left: 80px;
   /* width: 120px; */
   /* height: 120px; */
   text-indent: -9999px;
   /* background: url('./assets/logos/logo.jpg'); */
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 50%;
}
.material-icons.burger {
   display: none;
}
nav {
   position: absolute;
   top: 94px;
   left: 2%;
   width: 42%;
   height: min-content;
   background:none;
   z-index: 99;
}
nav ul {
   display: flex;
   margin: 0;
   padding: 0;
}
nav li {
   text-decoration: none;
   list-style-type: none;
   color: rgb(255, 255, 255);
}
nav a {
   text-decoration: none;
   color: white;
   padding: .2em; 
   opacity: .6;
   transition: .3s;  
}
nav a:hover {
   opacity: 1;
   transition: .3s;
}
nav .active-link {
   opacity: 1;
}
.social-icons {
   width: min-content;
   height: min-content;
   display: flex;
   /* margin-left: 1em;    */
}
.social-icons a {
   padding: 0 .2em;
   opacity: .7;
}
.social-icons a:hover {
   opacity: 1;
}

/* ============== HOME ================ */
.home.container {
   
}
/*====== banner =======  */
.home .banner {
   position: relative;
   margin: 0 auto;
   width: 73vw;
   height: 510px;
   color: white;
 }
 .banner .bcg-img {
   width: 100%;
   opacity: .9;
   position: absolute;
   top: 0px;
   z-index: -1;
 }
 .banner .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .banner .press-quote {
   font-size: .7em;
   width: 40%;
   margin:  4% 20% 0 0;
 }
 .banner .cta {
   position: relative; /* for .banner .link overlay */
   height: min-content;
   width: 12vw;
   margin: 22% 7% 0 0;
   padding: 6px;
   text-align: center;
   opacity: .9;
   transition: .3s;
 }
 .banner .link {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
 }
 .banner .cta img {
   width: 100%;
   height: 100%;
   box-shadow: 0 1px 3px black;
}
 .banner .cta span {
   text-align: center;
   font-size: .9em;
   margin: 0;
}
 .banner .cta span:hover {
   text-decoration: underline;
   color: rgb(104, 164, 208);
}


 
/*====== home news cards =======  */
.home-cards-container {
   display: flex;
   flex-flow: column wrap;
   align-content: space-between;
   /* The container needs a fixed height, and it
    * needs to be taller than your tallest column. */
   height: 90em;   
 }
 .video {
    cursor: pointer;
 }
 .card {
   position: relative; /* for .card .link overlay*/
   width: 28%;
   margin-bottom: 2%;
   padding: 1%;
 }
 .card .link {
   position: absolute;
   top: 0;
   left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: .6;
 }
 .card:hover {
   box-shadow: 1px 3px 8px #dfdfdf;
   background-color: rgba(235, 235, 235, 0.979);
  }
 .card img {
    width: 80%;
    opacity: .9;
 }
 .card p {
   font-size: .8em;
}
 .card h2 {
   font-size: 1.2em;
 }
 .card h4 {
   font-size: .9em;
   color: grey;
 }
 /* Re-order items into 3 rows */
 .card:nth-child(3n+1) { order: 1; }
 .card:nth-child(3n+2) { order: 2; }
 .card:nth-child(3n)   { order: 3; }

 /* Force new columns */
 .home-cards-container::before,
 .home-cards-container::after {
   content: "";
   flex-basis: 100%;
   width: 0;
   order: 2;
 }

/* ============== BIO ================ */
.bio.container {
position: relative;
}
.bio img#ride{
   height: 12em;
   float: left;
   margin: 0 1em .7em 0;
   opacity: .8;
   border-radius: 10px;
}
.bio img#birdland{
   height: 14em;
   float: right;
   margin: 0 0 .7em 1em;
   opacity: .8;
   border-radius: 10px;
}
.bio p {
   margin: 0;
   font-size: .8em;
}
.bio h2 {
   font-size: 1.9em;
}
/* ============== Photos ================ */
.photos.container {
   
}
.image-container {
   height: 12.4em;
   width: 12.4em;
   overflow: hidden;
}
.image-container img {
   height: 19em;
   overflow: hidden;
   opacity: .7;
}
.image-container.vertical img {
   margin-top: -3.5em;
}
.image-container.horizontal img {
   margin-left: -8.5em;
   margin-top: -1.5em;
}
.image-container img:hover {
   opacity: 1;
   transition: .6s;
   cursor: pointer;
}
.image-gallery {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
/* ======= PhotoDetail ======= */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.photo-detail-container {
   animation: .7s ease-out fadeIn;
}
.photo-detail-container {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 999;
   background-color:rgba(0, 0, 0, 0.931);
}
.photo-detail {
   height: min-content;
   width: 75vw;
   display: flex;
   margin: 3em auto;
}
.photo-detail img {
   animation: 2s ease-out fadeIn;
}
.photo-detail-img-container {
   height: min-content;
   width: min-content;
   margin: 2em auto;
}
.photo-detail-img-container img {
   height: 30em;
   margin: 0 auto;
   border: .5px solid rgba(255, 255, 255, 0.637);
}
.photo-detail-img-container p {
   text-align: center;
   color: grey;
   font-size: .8em;
   min-width: 20em;
}
.arrow {
   display: inline-block;
   width: 1em;
   font-size: 3em;
   font-weight: 100;
   color: white;
   margin: 0;
   padding-top: 25%;
   opacity: .3;
 }
.arrow.next {
   text-align: right;
}
.fa.fa-angle-right.fa-1x {
   cursor: pointer;
}
.arrow.back {
   text-align: left;
}
.fa.fa-angle-left.fa-1x {
   cursor: pointer;
}
.close-photo {
   height: 1em;
   position: absolute;
   top: 0;
   right: 2vw;
   font-size: 2em;
   color: white;
   opacity: .6;
   cursor: pointer;
   z-index: 999;
}

/* ============== Videos ================ */
.videos.container {
  
}
.video-thumbnail-container {
   position: relative;
   width: 14%;
   background-color: white;
}
.video-thumbnail-container:hover {

}
.video-thumbnail-container img {
   width: 100%;
   height: 100%;
   margin: 0;
   cursor: pointer;
   opacity: .4;
}

.video-thumbnail-container p {
   width: 100%;
   height: 65%;
   position: absolute;
   font-size: .9em;
   font-weight: 600;
   text-align: center;
   margin: 0;
   padding-top: 20%;
   color: black;
   z-index: 1;
   /* background: red; */
   opacity: .3;
   transition: .3s;
   background: white;
   cursor: pointer;
}
.video-thumbnail-container p:hover {
   opacity: .9;
   transition: .3s;
   background: white;
}
.video-thumb-gallery {
   /* width: ; */
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 auto;
   /* background-color: black; */
}
/* .video-thumb-gallery::after {
   content: '';
   flex: auto;
} */
/* ======= VideoDetail ========= */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.video-detail.view-full-screen {
   animation: 1.1s ease-out fadeIn;
}
.video-detail {
   width: 100%;
   height: 460px;
}
.react-player-video {
   height: 90%;/* % of .video-detail's XXpx height */
   width: 80%;/* % of .video-detail's 100% width */
   margin: 0 auto;
   margin-top: 1em;
}
.video-detail.view-full-screen .react-player-video {
   height: 80%;/* % of reactPlayer's (VideoDetail.js) 100% height */
   width: 80%;/* % of reactPlayer's (VideoDetail.js) 100% width */
}
.video-detail .controls {
   height: 4em;
   /* background-color: red; */
   width: 4em;
   margin: 0 auto;
   text-align: center;
}
.material-icons {
   font-size: 3em;
   opacity: .7; 
   cursor: pointer;
   transition: .3s;
}
.material-icons:hover {
   opacity: 1;
   font-size: 3.3em;
   transition: .3s;
}
.material-icons.expand {
   color: black;
   display: initial;
}
.material-icons.reduce {
   display: none;
}
.video-detail.view-full-screen .expand {
   display: none;
}
.video-detail.view-full-screen .reduce {
   display: initial;
   color: white;
}
.material-icons.close-video {/* videoDetail from news cards*/
   display: initial;
   color: white;
}
.video-detail.view-full-screen {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 99;
   background-color:black;
}

/* ============== SHOWS ================ */
.shows.container {
}
.shows h2 {
   display: none;
}
.shows .covid p {
   padding: 1em 0;
   margin: 0;
   text-align: center;
   background-color: rgb(233, 233, 47);
}
.shows ul {
   width: 60vw;   
}
.shows li {
   list-style: none;
   padding: .5em;   
}
.shows h3 {
   color: grey;
}

/* ============== DISCOGRAPHY ================ */
.discography.container {
}
/* ====== albums ===== */
.albums-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 95%;
   height: min-content;
   margin: 2em auto;
   padding: 0;
}
.albums img {
   height: 2.1em;
   width: 2.1em;
   border: .5px solid grey;
   cursor: pointer;
   opacity: .6;
}
.albums img:hover {
   opacity: 1;
}
.album-select {
   width: 100%;
   height: 100%;
}
/* ====== album detail ===== */
.album-detail {
   width: 100%;
   font-weight: 100;
   color: rgb(77, 77, 77);
}
.album-detail img {
   height: 99%;
   border: .5px solid gray;
}
.album-info {
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   width: 95%;
}
.info-box {
   height: 320px;
   width: 320px;
   margin: 0 0 0 0;
}
.info-box.credits {
   padding: 0 .5em 0 .5em;
}
 .info-box.credits h2 {
   font-size: 1.9em;
   font-weight: 300;
   margin: 0;
}
 .info-box.credits h3 {
   margin: 0 0 .7em .5em;
}
.info-box.credits ul{
   padding: 0 0 0 .5em;
   margin: 0 0 .8em 0;
}
.info-box.credits ul li{
   padding: .2em;
   list-style: none;
   font-size: .7em;
   text-decoration: none;
   color: rgb(77,77,77);
}
.info-box.credits p{
   font-size: .6em;
   margin: .5em 0 0 1.1em;
   padding: 0;
}
.info-box.tracks h4 {
   margin: 0;
}
.info-box.tracks ul {
   padding: 0;
}
.info-box.tracks li {
   list-style: none;
   font-size: .8em;
   padding: .2em;
}
/* ============== PRESS ================ */
.press.container {
   font-family: 'Montserrat', sans-serif;
   display: flex;
}
.press-list-container {
   width: 20vw;
   font-size: .7em;
   text-align: right;
   /* cursor: pointer; */
   list-style: none;
}
.press-list-container p {
    display: flex;
    justify-content: flex-end;
}
.press-list-container a {
   text-decoration: none;
}
.press-list-container p a:hover {
   color: red; 
}
.press-list-container a:visited {
   color: black;
}
.press-list li {
   cursor: pointer;
   list-style: none;
}
.press-list li:hover {
   color: red;
}
.press-detail-container {
   width: 60vw;
   margin-right: 0;
   border: 0;
   padding: 0;
}
.press-detail {
   margin-top: 50px;
}
.press-detail p {
   font-weight: 100;
   word-spacing: .1em;
}
.press-detail .press-quote p {
   font-size: .9em;
   margin: 2em 4em 0 0;
}
.press-detail .press-quote .writer-publication {
   margin-right: 4em;
}
.press-detail .press-quote h4 {
   font-size: .9em;
}

/* ============== STORE ================ */
.store.container {
   /* link to outside! ( bandcamp merch ) */
}
/* ============== CONTACT ================ */
.contact.container {
}
.contact .info {
   padding: 3em;
}
.contact .h3 {
   margin-bottom: 0;
}
/* ============== LINKS ================ */
.links.container {
   /* .jpg image of email*/
}
.links .links-list {
  margin-top: 2em;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.links .links-list li {
   min-width: 20vw;
   font-size: .8em;
   list-style: none;
   color: grey;
   margin: 0;
   padding: .6em;
   
}
.links .links-list a  {
   text-decoration: none;
   color: grey;
   font-weight: 600;
   
}
.links .links-list a:hover  {
   text-decoration: none;
   color: red;
   

}
/* ============== FOOTER ================ */
.footer {
   margin: 4em 0 0 0;
   height: 170px;
   background: url('./assets/backgrounds/footer.jpg') no-repeat;
   background-size: 100%;
   background-position: center bottom;
}



/* ============== Media Query ================ */
/* ============== Media Query ================ */
/* ============== Media Query ================ */
/* ============== Media Query iPhone7================ */

@media only screen and (max-width: 375px) {
   .App {
      /* font-size: 1em; */
   }
   .App .layout {
      padding: 60px 0 0 0;
   }
   .container {
      min-height: 100%;
      width: 375px;
      
   }
/* ============== HEADER ================ */
   .header {
      top: 0;
      height: 60px;
      overflow: hidden;
      width: 375px;
      background-image: url('./assets/backgrounds/mobile_headerBcg3.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
   }
   .open-mobile.header {
      height: 667px;
      top: 0;
      position: fixed;
   }
   #logo {
      top: 0px;
      left: 0px;
      width: 100px;
      height: 60px;
      background-image: url('./assets/logos/logo.jpg');
      background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;
      border-radius: 0;
   }
   .material-icons.burger {
      display: initial;
      position: absolute;
      font-size: 30px;
      color: white;
      top: 14px;
      right: 7px;
   }
   nav {
      position: initial;
      width: 100%;
      margin-top: 60px;
   }
   nav ul {
      display: initial;
      font-size: 24px;
      text-align: right;
   }
   nav ul li {
      padding: 4px 6px;
   }
   .social-icons {
      width: 375px;
      justify-content: flex-end;
      margin-top: 20px;
   }

/* ============== HOME ================ */
   .home .banner {
      position: relative;
      width: 100%;
      height: 360px;
      margin-bottom: 60px;
      /* background: rgb(31, 29, 29); */
      /* background: white; */
   }
   .banner .bcg-img {
      top: 40%;
      z-index: 0;
    }
   .banner .content {
      display: initial;
   }
   .banner .press-quote {
      width: 94%;
      height: 80px;
      margin:  0 0 0 0;
      padding: 5% 3%;
      font-size: .8em;
      color: rgb(85, 85, 85);
   }
   .banner .press-quote p {
      margin: 0;
   }
   .banner .cta {
      text-align: left;
      top: 180px;
      /* width: 70%; */
      display: flex;
      padding: 0 0 0 40%;
      margin: 0 0 0 0;
      opacity: 1;
   }
   .banner .link {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 375px;
      height: 100%;
      z-index: 99;
   }
   .banner .cta img {
      width: 90px;
      height: 90px;
   }
   .banner .cta span {
      font-size: 22px;
      font-weight: 500;
      margin: 45px 0 0 10px;
      color: rgb(0, 98, 255);
   }
   .fa.fa-angle-right.fa-1x.buy {
      color: rgb(0, 98, 255);
      margin-top: 48px;
      font-size: 22px;
   }

/*====== home news cards =======  */
   .home-cards-container {
      display: initial; 
   }
   .card {
      width: 92%;
      margin-bottom: 2%;
      padding: 4%;
      border-top: grey .5px dashed;
   }
   .card .link {
      width: 375px;
   }
   .card img {
   width: 80%;
   opacity: .9;
   }
  
   /* ============== BIO ================ */
   .bio img#ride{
      height: 90px;
      margin: 0 5px 0 5px;
   }
   .bio img#birdland{
      height: 120px;
      float: right;
      margin: 0 5px 0 5px;
      opacity: .8;
      border-radius: 10px;
   }
   .bio p {
      margin: 0 0 0 5px;
      font-size: .8em;
   }
   .bio h2 {
      font-size: 1.9em;
      color: grey;
   }
   
   /* ============== Photos ================ */
   .image-container {
      height: 125px;
      width: 125px;
   }
   .image-container img {
      height: 220px;
      overflow: hidden;
      opacity: .7;
   }
   .image-container.vertical img {
      margin-top: -37px;
   }
   /* ======= PhotoDetail ======= */
   .photo-detail {
      width: 370px;
      display: initial;
   }
   .photo-detail-img-container {
      text-align: center;
      margin: 2em auto;
   }
   .photo-detail-img-container img {
      height: 220px;
   }
   .arrow {
      position: absolute;
      top: 376px;
    }
   .arrow.next {
      right: 100px;
   }
   .arrow.back {
      left: 100px;
   }
   .close-photo {
      height: 100px;
      top: 464px;
      right: 170px;
      font-size: 60px;
      font-weight: 400;
      opacity: .3;
   }
   /* ============== Videos ================ */
   .video-thumbnail-container {
      position: relative;
      width: 33%;
      background-color: black;
   }
   .video-thumb-gallery {
      justify-content: none;
      margin: 0 auto;
      margin-top: 2em;
   }
   .video-thumbnail-container p {
      color: white;
      opacity: .7;
      background: none;
   }
   /* ======= VideoDetail ========= */
   .video-detail {
      width: 100%;
      height: 260px;
   }
   .react-player-video {
      height: 80%;/* % of .video-detail's XXpx height */
      width: 95%;/* % of .video-detail's 100% width */
      margin: 0 auto;
      margin-top: 2em;
   }
   /* ============== SHOWS ================ */
   .shows.container {

   }
   .shows h2 {
      display: initial;
      font-size: 1.9em;
      color: grey;
   }
   .shows .covid p {
      width: 98%;
      font-size: .7em;
      letter-spacing: .1em;
      padding: 3% 1%;
   }
   .shows ul {
      width: 90%; 
      margin: 0;
      padding: 0 5%;  
   }
   .shows li {
      margin: 0;
      padding: .3em 0;   
   }
   .shows h3 {
      padding-left: .7em;
   }
}

/* ============== Media Query ================ */


@media only screen and (min-width: 1900px) {
   .App {
      font-size: 1.6em;
   }
   .App .layout {
      padding: 185px 0 0 0;
   }
   /* ============== HEADER ================ */
   .header {
      height: 185px;
   }
   nav {
      top: 157px;
      left: 10px;
      font-size: 24px;
   }
   

   /* ============== HOME ================ */
   .home.container {
      /* margin-top: -2.2em; */
   }
   .home .banner {
      height: 840px;
   }

    /* ============== BIO ================ */
   .bio.container {
      /* margin: 0 auto; */
   }
   
   .bio img#ride{
      height: 14em;
      float: left;
      margin: 0 1em .7em 0;
      opacity: .8;
      border-radius: 10px;
   }
   .bio img#birdland{
      height: 15em;
      float: right;
      margin: 0 0 .7em 1em;
      opacity: .8;
      border-radius: 10px;
   }
   .bio p {
      /* font-size: 1.5em; */
   }
   /* ============== Photos ================ */
   .photos.container {
      margin-top: -2.5em;
   }
   .image-container {
      height: 14.5em;
      width: 14.5em;
   }
   .image-container img {
      height: 22em;
   }
  /* ============== Videos ================ */

  /* ======= VideoDetail ========= */
   
   /* ============== Discography ================ */
   .info-box {
      height: 470px;
      width: 470px;
      margin: 0 0 0 0;
   }
}
